@model TestMate.Common.Models.TestRequests.TestRequest
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Test Request Details";
}

<h1>Details</h1>

<div>
    <h4>TestRequest</h4>
    <hr />
    <br />
    <h5>General Details</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requestor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.PrioritisationStrategy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.PrioritisationStrategy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTestRuns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTestRuns)
        </dd>
        
        @if (Model.RequestId.ToString() != null)
        {
            <br />
            
            <div>
                @Html.ActionLink("View Test Runs", "List", "TestRuns", new { RequestId = Model.RequestId }, new { @class = "btn btn-primary" })
                @* <a asp-controller="TestRuns" asp-action="List" asp-route-RequestId="@Model.RequestId">View Test Run List</a> *@
            </div> 
        }

    </dl>
    <hr />
    <br />
    <h5>Configuration Details</h5>
    <hr />
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.ApkPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.ApkPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.TestExecutablePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.TestExecutablePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.DesiredDeviceProperties)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Configuration.DesiredDeviceProperties != null)
            {
                <pre>@Html.Raw(JsonConvert.SerializeObject(Model.Configuration.DesiredDeviceProperties, Formatting.Indented))</pre>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.DesiredContextConfiguration)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Configuration.DesiredContextConfiguration != null)
            {
                <pre>@Html.Raw(JsonConvert.SerializeObject(Model.Configuration.DesiredContextConfiguration, Formatting.Indented))</pre>
            }
        </dd>
    </dl>
</div>

<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>
