@model IEnumerable<TestMate.Common.Models.TestRequests.TestRequest>

@{
    ViewData["Title"] = "View My Test Requests";
}
<h1>View My Test Requests</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTestRuns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTestRuns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { requestId = item.RequestId })
            </td>
        </tr>
}
    </tbody>
</table>

@if (@TempData["Error"] != null)
{
    <div class="error-message form-style">
        <p>@TempData["Error"]</p>
    </div>
}
